/* css applied top to bottom, last wins. */
/* Method 1: External CSS Part 3 */
.external-css {
    color: #037c7f;
    background-color: #01403A;
}

body,h1,h2,p,ul,li,a {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #012636;
}

h1 {
    color: #038c7f;
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    color: #027368;
}

p {
    font-size: 16px;
    color:#7f8c8d;
    margin-bottom:12px;
}

p a {
    color: #f39c12;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
}

ul li {
    margin-bottom: 5px;
    color:#7f8c8d;
}

div ul {
    list-style-type: square;
}

.feature-card {
    border:2px solid #7f8c8d;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.feature-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.feature-card p {
    margin-bottom: 10px;
    color:#7f8c8d;
}

#special-feature{
    background-color: #fde3a7;
    border-color: #f39c12;
    box-shadow: 0 4px 8px 0 rbga(0, 0, 0, 0.1);
}
/* i dont know why i get this error #special-feature	0 is not a color value : 0 4px 8px 0 rbga(0,0,0,0.1)*/

a {
    display:inline-block;
    color:#3498db;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #3498db;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #3498db;
    color: white;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #ecf0f1;
    cursor:pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: red;
}